*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(213, 82, 82);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(22, 162, 197); */
  height: 100vh;
}